.dropdown {
  position: relative;
  z-index: 2;

  .dropdown-list {
    background: white;
    top: 34px;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;

    a:hover {
      svg {
        fill: white;
      }
    }
  }
}
