<div class="py-2 px-6 bg-gray-200 flex justify-start items-center border-lg border-r border-gray-400">
  <img src="http://www.fillmurray.com/68/68" />
  <div class="leading-normal flex-1 pl-4 flex justify-between items-center">
    <div class="italic text-gray-700">Bill Murray Random ad spaces for your viewing pleasure.</div>
    <div>
      <%= link_to "Remove Ads", new_premium_path, class: "text-xs" %>
    </div>
  </div>
</div>
